<div ng-controller="AccountsController">
    <div ng-controller='ErrorsController'>
        <div ng-show="message['type']" class="alert" ng-class="message['type']" role="alert">
             <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            {{message['data']}}
        </div>
    </div>
    <div ng-show='isList' class="row">
        <div class="col-md-2">
            <a class="btn btn-default" ng-click='newAccount()' role="button">New Account</a>
        </div>
        <table class="table table-hover">
            <thead>
            <th>Username</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr ng-repeat='account in accounts'>
                <td ng-bind='account.username'></td>
                <td>
                    <a class="btn btn-default" ng-click='transactions(account.id)' role="button">Make transactions</a>  <a class="btn btn-default" ng-click='statements(account.id)' role="button">Statement</a>
                    <a class="btn btn-default" ng-click='getBalance(account.id)' role="button">Show Balance</a><i ng-if='balance[account.id] >= 0'>{{ balance[account.id] | currency }}</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show='!isList'>
        <div class="col-md-6">
            <form ng-submit='crateAccount()' >
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" ng-model='account["username"]' placeholder="Username">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <a class="btn btn-default" ng-click='listing()'>Cancel</a>
            </form>
        </div>
    </div>

</div>